*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

