body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: relative;
}

h1{
    width: 286px;
    height: 47px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    row-gap: 40px;

    width: 500px;
    height: 292px;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 500px;
    height: 196px;
}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 120px;
    height: 176px;
}

.tempo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 80px;
    height: 81px;

}

.tempo p{
    width: 60px;
    height: 61px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #000000;
}

.indicador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    gap: 10px;

    width: 100px;
    height: 75px;

    background: #028BA9;
    border-radius: 10px;
    color: white;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 360px;
    height: 51px;
}

.botao{
    align-items: center;
    padding: 10px 15px;
    font-size: 25px;
    color: white;

    width: 200px;
    height: 51px;

    background: #FF7C03;
    border-radius: 10px;
}

.botao-pause{
    align-items: center;
    padding: 10px 15px;
    font-size: 25px;
    color: white;

    width: 200px;
    height: 51px;

    background: #E43C3C;
    border-radius: 10px;
}

.botao-reset{
    align-items: center;
    padding: 10px 15px;
    font-size: 25px;
    color: white;

    width: 200px;
    height: 51px;

    background: #2E9C12;
    border-radius: 10px;
}